* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #000;
  font: 14px Helvetica, Arial, sans-serif;
  color: #eee;
  font-weight: lighter;
}

a {
  color: #eee;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
}

/* Header */
.header {
  padding: 20px 0;
  font-size: 0;
}

.header div {
  display: inline-block;
  width: 50%;
  padding: 0 20px;
  vertical-align: middle;
}

.header .header-right {
  text-align: right;
}

.header h1 {
  margin: 12px 0;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: lighter;
  color: #fff;
  letter-spacing: 3px;
}

.header h1 a {
  color: #fff;
  opacity: .7;
  transition: opacity .2s;
}

.header h1 a:hover {
  opacity: 1;
}

.header ul {
  font-size: 0;
}

.header li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 14px;
  padding-right: 20px;
  letter-spacing: 2px;
}

.header li:last-child {
  padding-right: 0;
}

.header li a {
  display: block;
  padding: 5px 10px;
  opacity: .7;
  color: #fff;
  transition: opacity .2s;
}

.header li a:hover {
  opacity: 1
}

/* Footer */
.footer {
  margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

.footer a,
.footer span {
  opacity: .7;
  color: #fff;
  transition: opacity .2s;
}
.footer a:hover {
  opacity: 1;
  cursor: pointer;
}

.footer div {
  margin: 50px 0;
}

/* Home */
.home-bg {
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  background: url(/images/home.jpg) center center;
  background-size: cover;
}

/* Clients */
.video-list li {
  padding: 20px;
  border-bottom: 1px solid #bbb;
}

.video-list h3 {
  display: inline-block;
  font-size: 14px;
}

.video-list ifram {
  display: inline-block;
  float: right;
}
