* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #000;
  font: 14px Helvetica, Arial, sans-serif;
  color: #eee;
  font-weight: lighter;
}

a {
  color: #eee;
  text-decoration: none;
  cursor: pointer;
}
.underline {
  text-decoration: underline;
}

ul {
  list-style: none;
}

/* Header */
.header {
  position: relative;
  padding: 20px 0;
  font-size: 0;
  z-index: 10;
  background: linear-gradient(0, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4) 20%, rgba(0, 0, 0, .9));
}

.header div {
  display: inline-block;
  padding: 0 20px;
  vertical-align: middle;
}

.header .menu {
  width: 70%;
}

.header .header-right {
  width: 30%;
  text-align: right;
}

.header h1 {
  margin: 12px 0;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: lighter;
  color: #fff;
  letter-spacing: 3px;
}

.header h1 a {
  color: #fff;
  opacity: .7;
  transition: opacity .2s;
}

.header h1 a:hover {
  opacity: 1;
}

.header ul {
  font-size: 0;
}

.header li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 14px;
  padding-right: 20px;
  letter-spacing: 2px;
}

.header li:last-child {
  padding-right: 0;
}

.header li a {
  display: block;
  padding: 5px 10px;
  opacity: .7;
  color: #fff;
  transition: opacity .2s;
}

.header li a:hover {
  opacity: 1
}

/* Footer */
.footer {
  margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

.footer a,
.footer span {
  opacity: .7;
  color: #fff;
  transition: opacity .2s;
}
.footer a:hover {
  opacity: 1;
  cursor: pointer;
}

.footer div {
  margin: 50px 0;
}

.footer ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.footer li {
  display: inline-block;
}

.footer li:first-child {
  margin-right: 50px;
}

/* General */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.container h1 {
  margin-bottom: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
.container h2 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: normal;
}

.container p {
  margin-bottom: 15px;
  font-size: 15px;
}

.basic-list {
  padding-left: 20px;
  margin-bottom: 15px;
  list-style: disc;
}

.basic-list li {
  padding: 5px 0;
}

/* Home */
.home-bg {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  padding-bottom: 56%;
  z-index: 0;
  background: url(/images/home.jpg) center center;
  background-size: cover;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  transition: -webkit-filter 3.5s ease;
}

.home-bg.loaded {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.home-bg-placeholder {
  width: 100%;
  height: 0;
  padding-bottom: 56%;
}

.home-text {
  padding: 0 100px;
  letter-spacing: 2px;
}

/* Past work */
.past-work-list li {
  padding: 20px;
  font-size: 0;
  border-bottom: 1px solid #333;
}

.past-work-list h3 {
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 10% 40px 0 40px;
  font-size: 14px;
  vertical-align: top;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: right;
}

.past-work-list li:nth-child(even) h3 {
  text-align: left;
}

.past-work-list h3 span {
  font-weight: lighter;
}

.past-work-list .past-work {
  display: inline-block;
  width: 50%;
}

.past-work-list .past-work div {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
}

.past-work-list iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Clients */
.clients-container {
  font-size: 0;
}
.clients-container div {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  vertical-align: top;
}

.clients-container .clients-img {
  font-size: 0;
}

.clients-container .clients-img li {
  display: inline-block;
  width: calc(50% - 20px);
  margin: 10px;
}

.clients-container .clients-img img {
  width: 100%;
}

/* Post */
.post {
  padding-bottom: 60px;
  margin-bottom: 70px;
  border-bottom: 1px solid #333;
}

.post h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 22px;
}

.post .content {
  font-size: 15px;
}

@media (min-width: 500px) {
  .visible-sm {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .visible-md {
    display: none !important;
  }

  .past-work-list h3 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .past-work-list .past-work {
    display: block;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .header li {
    display: block;
  }

  .header .menu,
  .header .header-right {
    width: 50%;
  }
}
