<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Solipsism Studio | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="description" content="Solispsim Studio is a home studio offering online mixing services.">
    <meta property="og:site_name" content="Solipsism Studio"/>
    <meta property="og:title" content="Solipsism Studio | {{ page.title }}"/>
    <meta property="og:url" content="http://solipsism.studio{{ page.url }}"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:title" content="Solipsism Studio | {{ page.title }}"/>
    <meta name="twitter:url" content="http://solipsism.studio{{ page.url }}"/>
    <meta name="twitter:card" content="summary"/>
  </head>
  <body>
    <div>
      <div class="header">
        <div>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <!-- <li>
              <a href="/news">News</a>
            </li> -->
            <li>
              <a href="/mixing">Mixing</a>
            </li>
            <li>
              <a href="/clients">Clients</a>
            </li>
            <li>
              <a href="/videos">Videos</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="header-right">
          <h1><a href="/">Solipsism Studio</a></h1>
        </div>
      </div>

      {{ content }}

      <div class="footer">
        <div><span>Solispsm Studio | France | </span><a href="mailto:info@solipsism.studio">info@solipsism.studio</a></div>
        <!-- <div><a href="https://facebook.com">f</a></div> -->
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-80109974-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script src="js/main.js"></script>
  </body>
</html>
